* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 70px;
    background: #1f2024;
    color: #c3c3c3;
    display: flex;
    justify-content: space-between;
}

.header .header-logo img {
    height: 100%;
    width: 150px;
}
.header .header-icon {
    padding-top: 20px;
    margin-right: 50px;

}
.header .header-icon img {
    width: 20px;
    height: 18px;
    margin: 0 15px;
}